<!-- Place this tag where you want the share button to render. -->
<div class="g-plusone" data-size="medium" data-href="<%= url %>"></div>

<% unless @google_plus_added
   @google_plus_added = true %>
    <!-- Place this tag after the last share tag. -->
    <script type="text/javascript">
        (function() {
            var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
            po.src = 'https://apis.google.com/js/plusone.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
        })();
    </script>
<% end %>
