<% content_for :title_tag do %>
    <div class="title_content">
      <h1 id="page_heading"><a href="<%= root_url %>"><%= enki_config[:title] %></a></h1>
      <div id="page_subtitle"><%= enki_config[:subtitle] %></div>
    </div>
<% end %>